@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    background-color: #1d102b;
    background-image: url(./assets/stars-bg.png);
}

.App {
    text-align: center;
    font-family: "Press Start 2P";
}

.logo {
    width: 800px;
    margin-top: 5vw;
}

header h2 {
    color: #fcff7b;
    margin-top: 60px;
}

.picked-letters {
    list-style: none;
    display: flex;
    margin: 4vw auto;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.letter-item {
    margin: 0 5px;
    height: 60px;
    width: 60px;
    border-radius: 10px;

    text-align: center;
}
.letter-item h2 {
    font-size: 40px;
    color: #1d102b;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 6px;
}
.toggle-letter {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.toggle-letter span {
    display: inline-block;
    background-color: #ffffe3;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    box-shadow: 5px 5px #d3d2be;
    border-radius: 10px;
}

.toggle-letter input {
    display: none;
}
.toggle-letter input:checked ~ span {
    background-color: #2cfd5d;
    box-shadow: 5px 5px #26de51;
}

.toggle-letter input:checked ~ span h2 {
    color: white;
}

.input-box {
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter-pickers {
    width: 170px;
    margin: 0 20px;
    padding: 15px 10px;
    font-family: "Press Start 2P";
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fcff7b;
    box-shadow: 3px 3px rgb(213, 208, 100);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.input-box input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Press Start 2P";
    padding: 0 10px;
    text-align: center;
}
.submit {
    background-color: #00ff84;
    box-shadow: 2px 2px #008a47;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    border-radius: 100%;
    font-family: "Press Start 2P";
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 12px 10px 10px 15px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.score {
    font-size: 30px;
    color: white;
}
.answers {
    text-align: left;
    list-style: none;
    width: 220px;
    margin: auto;
}
.answer-item {
    color: white;
    font-size: 14px;
}

/* Hello Stefan - these are the only new classes i added */

.letter__item {
    background-color: mistyrose;
    margin: 0 5px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.toggled {
    background-color: #2cfd5d;
    box-shadow: 5px 5px #26de51;
}
